Source: ubi-support
Section: core
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
Build-Depends: debhelper (>= 7),
Standards-Version: 3.8.0

Package: ubi-support
Architecture: all
Depends: mtd-utils
Description: X server initialisation tool
 xinit is the program which facilitates starting an X server, and
 loading a base X session.
