#!/usr/bin/make -f

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:

install: build
	dh_testdir
	dh_testroot
	dh_prep

	mkdir -p $(CURDIR)/debian/ubi-support/lib/mdev
	mkdir -p $(CURDIR)/debian/ubi-support/etc/mdev.conf.d
	cp ubi_id $(CURDIR)/debian/ubi-support/lib/mdev
	cp 90ubi-support $(CURDIR)/debian/ubi-support/lib/mdev

binary-indep: install
	dh_testdir
	dh_testroot
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
